In [19]:
#Import Pandas & Read in CSV
import pandas as pd 
df = pd.read_csv("ComputerSales.csv")
df

,Sale ID,Contact,Sex,Age,State,Product ID,Product Type,Sale Price,Profit,Lead,Month,Year
0,1,Paul Thomas,M,43,OH,M01-F0024,Desktop,479.99,143.39,Website,January,2018
1,2,Margo Simms,F,37,WV,GT13-0024,Desktop,1249.99,230.89,Flyer 4,January,2018
2,3,Sam Stine,M,26,PA,I3670,Desktop,649.99,118.64,Website,February,2018
3,4,Moe Eggert,M,35,PA,I3593,Laptop,399.99,72.09,Website,March,2018
4,5,Jessica Elk,F,55,PA,15M-ED,Laptop,699.99,98.09,Flyer 4,March,2018
5,6,Sally Struthers,F,45,PA,GT13-0024,Desktop,1249.99,230.89,Flyer 2,April,2018
6,7,Michelle Samms,F,46,OH,GA401IV,Laptop,1349.99,180.34,Email,May,2018
7,8,Mick Roberts,M,23,OH,MY2J2LL,Tablet,999.99,146.69,Website,July,2018
8,9,Ed Klondike,M,52,OH,81TC00,Laptop,649.99,122.34,Email,July,2018
9,10,Phil Jones,M,56,WV,M01-F0024,Desktop,479.99,143.39,Flyer 2,August,2018
10,11,Rick James,M,49,PA,GA401IV,Laptop,1349.99,180.34,Flyer 3,November,2018
11,12,Sue Etna,F,54,OH,GT13-0024,Desktop,1249.99,230.89,Flyer 2,November,2018
12,13,Jason Case,M,57,PA,81TC00,Laptop,649.99,122.34,Email,November,2018
13,14,Doug Johnson,M,51,PA,I3670,Desktop,649.99,118.64,Website,December,2018
14,15,Andy Sands,M,56,OH,MY2J2LL,Tablet,999.99,146.69,Flyer 1,December,2018
15,16,Kim Collins,F,49,PA,I3593,Laptop,399.99,72.09,Flyer 2,January,2019
16,17,Edna Sanders,F,46,OH,15M-ED,Laptop,699.99,98.09,Email,February,2019
17,18,Michelle Samms,F,46,NY,MY2J2LL,Tablet,999.99,146.69,Website,March,2019
18,19,Mick Roberts,M,23,PA,I3593,Laptop,399.99,72.09,Flyer 4,March,2019
19,20,Sally Struthers,F,45,NY,81TC00,Laptop,649.99,122.34,Website,April,2019
20,21,Jason Case,M,57,PA,M01-F0024,Desktop,479.99,143.39,Flyer 4,May,2019
21,22,Doug Johnson,M,51,PA,GA401IV,Laptop,1349.99,180.34,Website,August,2019
22,23,Paul Thomas,M,43,OH,81TC00,Laptop,649.99,122.34,Website,August,2019
23,24,Margo Simms,F,37,WV,Q526FA,Laptop,1049.99,143.09,Flyer 4,November,2019
24,25,Michelle Samms,F,46,NY,I3670,Desktop,649.99,118.64,Flyer 2,November,2019
25,26,Mick Roberts,M,23,PA,Q526FA,Laptop,1049.99,143.09,Email,November,2019
26,27,Ed Klondike,M,52,OH,Q526FA,Laptop,1049.99,143.09,Website,December,2019
27,28,Moe Eggert,M,35,PA,15M-ED,Laptop,699.99,98.09,Email,December,2019
28,29,Jessica Elk,F,55,PA,GA401IV,Laptop,1349.99,180.34,Flyer 2,December,2019
29,30,Phil Jones,M,56,WV,M01-F0024,Desktop,479.99,143.39,Flyer 2,January,2020
30,31,Rick James,M,49,PA,GA401IV,Laptop,1349.99,180.34,Flyer 1,January,2020
31,32,Sue Etna,F,54,OH,GT13-0024,Desktop,1249.99,230.89,Flyer 2,February,2020
32,33,Kim Collins,F,49,PA,I3593,Laptop,399.99,72.09,Flyer 2,March,2020
33,34,Edna Sanders,F,46,OH,15M-ED,Laptop,699.99,98.09,Email,March,2020
34,35,Michelle Samms,F,46,NY,MY2J2LL,Tablet,999.99,146.69,Website,April,2020
35,36,Sally Struthers,F,45,NY,81TC00,Laptop,649.99,122.34,Website,April,2020
36,37,Jason Case,M,57,PA,M01-F0024,Desktop,479.99,143.39,Flyer 4,April,2020
37,38,Doug Johnson,M,51,PA,GA401IV,Laptop,1349.99,180.34,Website,May,2020
38,39,Moe Eggert,M,35,PA,I3593,Laptop,399.99,72.09,Website,May,2020

In [ ]:
#Pandas basic functions 
df.info() # Number of entries and columns
df.head() # Small highlight of dataframe
print(df.columns) # Column names
df_fixed = df.set_index("Sale ID") # Set the new index to an existing column
df_fixed.loc[37] # Locate the row that matches '37'

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Sale ID       39 non-null     int64
 1   Contact       39 non-null     object
 2   Sex           39 non-null     object
 3   Age           39 non-null     int64
 4   State         39 non-null     object
 5   Product ID    39 non-null     object
 6   Product Type  39 non-null     object
 7   Sale Price    39 non-null     float64
 8   Profit        39 non-null     float64
 9   Lead          39 non-null     object
 10  Month         39 non-null     object
 11  Year          39 non-null     int64
dtypes: float64(2), int64(3), object(7)
memory usage: 3.8+ KB
None
Index(['Sale ID', 'Contact', 'Sex', 'Age', 'State', 'Product ID',
       'Product Type', 'Sale Price', 'Profit', 'Lead', 'Month', 'Year'],
      dtype='object')

Contact         Jason Case
Sex                      M
Age                     57
State                   PA
Product ID       M01-F0024
Product Type       Desktop
Sale Price          479.99
Profit              143.39
Lead               Flyer 4
Month                April
Year                  2020
Name: 37, dtype: object

In [15]:
df_fie

,Contact,Sex,Age,State,Product ID,Product Type,Sale Price,Profit,Lead,Month,Year
Sale ID,,,,,,,,,,,
1,Paul Thomas,M,43,OH,M01-F0024,Desktop,479.99,143.39,Website,January,2018
2,Margo Simms,F,37,WV,GT13-0024,Desktop,1249.99,230.89,Flyer 4,January,2018
3,Sam Stine,M,26,PA,I3670,Desktop,649.99,118.64,Website,February,2018
4,Moe Eggert,M,35,PA,I3593,Laptop,399.99,72.09,Website,March,2018
5,Jessica Elk,F,55,PA,15M-ED,Laptop,699.99,98.09,Flyer 4,March,2018
6,Sally Struthers,F,45,PA,GT13-0024,Desktop,1249.99,230.89,Flyer 2,April,2018
7,Michelle Samms,F,46,OH,GA401IV,Laptop,1349.99,180.34,Email,May,2018
8,Mick Roberts,M,23,OH,MY2J2LL,Tablet,999.99,146.69,Website,July,2018
9,Ed Klondike,M,52,OH,81TC00,Laptop,649.99,122.34,Email,July,2018
10,Phil Jones,M,56,WV,M01-F0024,Desktop,479.99,143.39,Flyer 2,August,2018
11,Rick James,M,49,PA,GA401IV,Laptop,1349.99,180.34,Flyer 3,November,2018
12,Sue Etna,F,54,OH,GT13-0024,Desktop,1249.99,230.89,Flyer 2,November,2018
13,Jason Case,M,57,PA,81TC00,Laptop,649.99,122.34,Email,November,2018
14,Doug Johnson,M,51,PA,I3670,Desktop,649.99,118.64,Website,December,2018
15,Andy Sands,M,56,OH,MY2J2LL,Tablet,999.99,146.69,Flyer 1,December,2018
16,Kim Collins,F,49,PA,I3593,Laptop,399.99,72.09,Flyer 2,January,2019
17,Edna Sanders,F,46,OH,15M-ED,Laptop,699.99,98.09,Email,February,2019
18,Michelle Samms,F,46,NY,MY2J2LL,Tablet,999.99,146.69,Website,March,2019
19,Mick Roberts,M,23,PA,I3593,Laptop,399.99,72.09,Flyer 4,March,2019
20,Sally Struthers,F,45,NY,81TC00,Laptop,649.99,122.34,Website,April,2019
21,Jason Case,M,57,PA,M01-F0024,Desktop,479.99,143.39,Flyer 4,May,2019
22,Doug Johnson,M,51,PA,GA401IV,Laptop,1349.99,180.34,Website,August,2019
23,Paul Thomas,M,43,OH,81TC00,Laptop,649.99,122.34,Website,August,2019
24,Margo Simms,F,37,WV,Q526FA,Laptop,1049.99,143.09,Flyer 4,November,2019
25,Michelle Samms,F,46,NY,I3670,Desktop,649.99,118.64,Flyer 2,November,2019
26,Mick Roberts,M,23,PA,Q526FA,Laptop,1049.99,143.09,Email,November,2019
27,Ed Klondike,M,52,OH,Q526FA,Laptop,1049.99,143.09,Website,December,2019
28,Moe Eggert,M,35,PA,15M-ED,Laptop,699.99,98.09,Email,December,2019
29,Jessica Elk,F,55,PA,GA401IV,Laptop,1349.99,180.34,Flyer 2,December,2019
30,Phil Jones,M,56,WV,M01-F0024,Desktop,479.99,143.39,Flyer 2,January,2020
31,Rick James,M,49,PA,GA401IV,Laptop,1349.99,180.34,Flyer 1,January,2020
32,Sue Etna,F,54,OH,GT13-0024,Desktop,1249.99,230.89,Flyer 2,February,2020
33,Kim Collins,F,49,PA,I3593,Laptop,399.99,72.09,Flyer 2,March,2020
34,Edna Sanders,F,46,OH,15M-ED,Laptop,699.99,98.09,Email,March,2020
35,Michelle Samms,F,46,NY,MY2J2LL,Tablet,999.99,146.69,Website,April,2020
36,Sally Struthers,F,45,NY,81TC00,Laptop,649.99,122.34,Website,April,2020
37,Jason Case,M,57,PA,M01-F0024,Desktop,479.99,143.39,Flyer 4,April,2020
38,Doug Johnson,M,51,PA,GA401IV,Laptop,1349.99,180.34,Website,May,2020
39,Moe Eggert,M,35,PA,I3593,Laptop,399.99,72.09,Website,May,2020

Creating DataFrames and Series

In [28]:
import numpy as np 
df = pd.DataFrame(np.random.randn(3,4))  #creates a 3 by 4 matrix of random float numbers
df

          0         1         2         3
0 -0.091849  0.426656 -0.769505  1.667027
1 -0.756235  1.179561 -0.063921  0.636627
2  1.722867 -0.837238 -0.514755 -1.142411

Creating Series

In [29]:
tmp = pd.Series([3,5,9.0]) #using a list to create a series
tmp

0    3.0
1    5.0
2    9.0
dtype: float64

More Operations

In [33]:
df.head(3) #Displays only the top 3 rows 
print(df.size) #Displays the total cells
print(df.shape) #Displays the columns and rows 
print(df.describe) #Provides a summary of the data

12
(3, 4)
<bound method NDFrame.describe of           0         1         2         3
0 -0.091849  0.426656 -0.769505  1.667027
1 -0.756235  1.179561 -0.063921  0.636627
2  1.722867 -0.837238 -0.514755 -1.142411>

Concatenating Data Frames

In [34]:
# Create the first DataFrame with random numbers
first = pd.DataFrame(np.random.randn(5, 4))

# Create the second DataFrame with random numbers
second = pd.DataFrame(np.random.randn(5, 4))

# Combine (concatenate) the two DataFrames by stacking them vertically
combined = pd.concat([first, second])

# Display the combined DataFrame
print(combined)

          0         1         2         3
0 -1.502399 -0.846997  0.378491  1.257291
1 -1.744159  1.695677  0.500427 -1.143690
2  2.387677  0.986905  1.656647 -1.210702
3  0.322957 -1.195407  0.013009  0.828315
4 -0.319477 -0.458579  1.043994 -1.228933
0  0.398743  0.669660  1.263281  0.720692
1 -1.785334  1.030232 -1.700610  1.008717
2 -0.689806 -1.536938 -0.919480  0.658258
3  0.476995  0.565474 -0.643764  2.008678
4  0.341088 -0.804603 -0.313041 -1.202384

In [35]:
# INNER JOIN: Combines data from two tables only where there is a match in the key column

# Create the first DataFrame
left = pd.DataFrame({
    'netID': ['adg133', 'abc134', 'def234'],
    'midterm': [67, 89, 90]
})

# Create the second DataFrame
right = pd.DataFrame({
    'netID': ['adg133', 'abc134', 'def234'],
    'finals': [87, 49, 78]
})

# Merge the two DataFrames on the 'netID' column
merged = pd.merge(left, right, on='netID')

# Display the merged DataFrame
print(merged)

    netID  midterm  finals
0  adg133       67      87
1  abc134       89      49
2  def234       90      78

In [36]:
# OUTER JOIN: Combines data from two tables and includes all rows from both tables, filling in NaN (or NULL) where data is missing.

left = pd.DataFrame({
    'netID': ['adg133', 'abc123'],
    'midterm': [65, 45]
})

# Create the second DataFrame
right = pd.DataFrame({
    'netID': ['adg133'],
    'final': [80]
})

# Concatenate the two DataFrames
common = pd.concat([left, right])

# Display the combined DataFrame
print(common)

    netID  midterm  final
0  adg133     65.0    NaN
1  abc123     45.0    NaN
0  adg133      NaN   80.0

In [37]:
#LEFT JOIN: keeps all rows from the left table, and only the matching rows from the right table. If there is no match, it fills with NaN (or NULL).

# Create the left DataFrame
left = pd.DataFrame({
    'netID': ['adg133', 'abc123'],
    'midterm': [65, 45]
})

# Create the right DataFrame
right = pd.DataFrame({
    'netID': ['adg133'],
    'final': [80]
})

# Perform a left join on the two DataFrames
common = pd.merge(left, right, how="left")

# Display the result
print(common)

    netID  midterm  final
0  adg133       65   80.0
1  abc123       45    NaN

In [38]:
#RIGHT JOIN: keeps all rows from the right table, and only the matching rows from the left table. If there is no match, it fills with NaN (or NULL).

# Create the left DataFrame
left = pd.DataFrame({
    'netID': ['adg133', 'abc123'],
    'midterm': [65, 45]
})

# Create the right DataFrame
right = pd.DataFrame({
    'netID': ['adg133'],
    'final': [80]
})

# Perform a right join on the two DataFrames
common = pd.merge(left, right, how="right")

# Display the result
print(common)

    netID  midterm  final
0  adg133       65     80

Finding/Dropping Null Values

In [ ]:
df.apply(lambda x: sum(x.isnull()),axis = 0)
# Checks the missing values for each COLUMN 
df.dropna(axis=1)
# DROPS COLUMNS that contain any NaN values df.dropna(axis=0) for ROWS

          0         1         2         3
0 -0.091849  0.426656 -0.769505  1.667027
1 -0.756235  1.179561 -0.063921  0.636627
2  1.722867 -0.837238 -0.514755 -1.142411

Replacing missing/null values in a DataFrame

In [ ]:
df['columnName'].fillna(0,inplace=True) #replace the missing values with zeros in place

Selecting columns from a DataFrame that satisfy a Boolean criteria

In [ ]:
#Extract only a subset of data that satisfies a boolean 
df[df["columnName"] >= 50]

Sorts, Counts, and Uniques

In [ ]:
# Sort values by ascending/descending
df.sort_values("columnName",ascending=True)  
# And on a series, returning a copy with values in order 
df["columnName"].sort_values()

# Show counts for every value of a series, like a mapping
df["columnName"].value_counts() 

# Return all the unique values as an array 
df["columnName"].unique()

Indexing Data Frames

In [ ]:
# You can index columns using the [] operator (WHEN YOU PROVIDE A STRING)
df["column_name"]  # Returns a Series
df[["column1", "column2"]]  # Returns a DataFrame with multiple columns
df.column_name  # Dot notation (only works if column name has no spaces)

# You can index rows using .loc or slicing 
df[0:3]  # First three rows as DataFrame
df.loc["row_label"]  # Single row as Series
df.loc[["row1", "row3"]]  # Multiple rows as DataFrame
df.loc["row1":"row3"]  # Range of rows by label

# Or you can index a column from the indexing of rows 
df[2:10]["columnName"]

In [ ]:
# Indexing with loc/iloc  

# loc: label based indexing, specifying the row and column names 
# Selecting rows for two specific dates:
df.loc['2025-01-01':'2025-01-05']
# This returns the column 'A' for all rows.
df.loc[:, 'A']
# This returns the columns 'A' and 'B' for all rows.
df.loc[:, ['A', 'B']]
# Columns from 'A' up to and including 'C' 
df.loc[:, 'A':'C']


# Selecting specific rows and columns:
df.loc['2025-01-01':'2025-01-05', ['A', 'B']]

# iloc: integer based indexing, specifying the row and column names 
# Selecting rows for two specific dates:

# Selecting the first 5 rows:
df.iloc[0:5]
# Selecting specific rows and columns by their positions:
df.iloc[0:5, [0, 2]]  # rows 0 to 4, columns at positions 0 and 2



''' 
Summary
    For Quick Column Access:
    Use df["column_name"] or df.column_name when you only need to retrieve columns.

    For Row Slicing:
    Using df[0:3] works if you are comfortable with position-based slicing and your index is the default RangeIndex.

    For Clear, Combined Selections:
    Use .loc (for label-based) or .iloc (for position-based) when you want to select both rows and columns, or when your index is not a simple integer range. They provide more precision and help avoid unintended behavior.
'''

Data Filtering

In [ ]:
#1. name of the oldest dog
df.loc[dogs[’age’].argmax()][’name’]
            
#2. age of the youngest brown dog
df[df['color'] == 'brown']['age'].min()

#3. name of the first oldest brown dog
y = df[df['color'] == 'brown']
z = y[y['age'] == y['age'].max()]
x = z.iloc[0]['name']

GroupBy Operation

In [7]:
''' 
There are three major operations, Split, Apply, and Combine 
    Split: put data into groups based on criteria 
    Apply: a function to each group independently 
    Combine: results into a data structure 
'''

import pandas as pd 

# Create a DataFrame
people = pd.DataFrame(
    [
        ["Joey", "blue", 42, "M"],
        ["Weiwei", "blue", 50, "F"],
        ["Joey", "green", 8, "M"],
        ["Karina", "green", 7, "F"],
        ["Fernando", "pink", -9, "M"],
        ["Nhi", "blue", 3, "F"],
        ["Sam", "pink", -42, "M"],
    ],
    columns=["Name", "Color", "Number", "Sex"]
)
people

# Group by Color
grps = people.groupby("Color")
# How many groups are there
print(grps.size()) 
print(grps)

# Group the people by Color
people_by_color = people['Name'].groupby(people['Color'])
people_by_color.describe()

for key, item in people_by_color:
    print(people_by_color.get_group(key), "\n\n")

Color
blue     3
green    2
pink     2
dtype: int64
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001EF54C14E90>
0      Joey
1    Weiwei
5       Nhi
Name: Name, dtype: object


2      Joey
3    Karina
Name: Name, dtype: object


4    Fernando
6         Sam
Name: Name, dtype: object

In [ ]:
# Group by multiple index 
everything_grouped_by_party_and_result = df.groupby([df['Party'],df['Result']])
# Aggregate by grouping by party and then result, then find the mean for these

In [ ]:
# Is in operation, returning a dataframe with rows where party is within those two parties
df[df["Party"].isin(["Republican","Democratic"])]

Memory in Pandas 

Slide 1: Internal Representation of Numeric and String Data
 -Numeric Data: Stored as blocks of numbers, similar to an array, with pointers to where the data is stored.
 -String Data: More complex. Each string has a "pointer" leading to the actual characters stored in memory. This means strings use more memory and take longer to process compared to numeric data.

Slide 2: Internal Representation of a DataFrame
 -DataFrame Layout: A DataFrame is split into blocks based on data types:
 -IntBlock: Stores all integer data.
 -ObjectBlock: Stores all string or mixed-type data.
 -FloatBlock: Stores all float data.
 -Efficiency: Grouping data by type helps Pandas optimize performance. Numeric blocks are faster and use less memory compared to object blocks.

Slide 3: Memory Usage by Pandas DataFrames
 -Memory Usage Overview:
  -Pandas estimates how much memory the DataFrame uses.
  -For higher accuracy, use memory_usage(deep=True) to include deeper memory (e.g., strings).
 -Memory Usage by Data Type:
  -Numeric data (int, float) uses less memory.
  -String data (object type) uses more memory because of pointers and variable lengths.
  -The output shows average memory usage for each data type.


In short:
 -Numeric data is compact and efficient.
 -Strings (object type) consume more memory and are slower to process.
 -Pandas organizes DataFrames into blocks by data type to improve performance.

In [ ]:
# Downcasting, converting a variable or DataFrame column into a smaller or more memory-efficient data type without losing information, done to reduce memory usage
# Use pd.to_numeric to down cast numeric types 

# Credit: Josh Devlin
def mem_usage(pandas_obj):
    if isinstance(pandas_obj, pd.DataFrame):
        usage_b = pandas_obj.memory_usage(deep=True).sum()
    else:  # we assume if not a df it's a series
        usage_b = pandas_obj.memory_usage(deep=True)
    usage_mb = usage_b / 1024 ** 2  # convert bytes to megabytes
    return "{:03.2f} MB".format(usage_mb)

df_int = df.select_dtypes(include=['int'])
converted_int = df_int.apply(pd.to_numeric, downcast='unsigned')

print(mem_usage(df_int))
print(mem_usage(converted_int))

compare_ints = pd.concat([df_int.dtypes, converted_int.dtypes], axis=1)
compare_ints.columns = ['before', 'after']
compare_ints.apply(pd.Series.value_counts)

In [ ]:
# Change in memory usage 

df_float = df.select_dtypes(include=['float'])
converted_float = df_float.apply(pd.to_numeric, downcast='float')

print(mem_usage(df_float))
print(mem_usage(converted_float))

# This will show that floats can be downcasted from 64 bit to 32-bit (50% savings)
compare_floats = pd.concat([df_float.dtypes, converted_float.dtypes], axis=1)
compare_floats.columns = ['before', 'after']
compare_floats.apply(pd.Series.value_counts)

In [ ]:
# Reducing memory usage of categorical data

# Let's take a look at day_of_week (only contains 7 unique values)
dow = df_obj.day_of_week
print(dow.head(7))

dow_cat = dow.astype('category')  # Cast the day_of_week to category type
print(dow_cat.head(7))  # The days are now represented as [0, 1, 2, ...]

# Find the memory usage of the column
print(mem_usage(dow))
print(mem_usage(dow_cat))